<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.datos.servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.datos.servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubFamilias</servlet-name>
        <servlet-class>com.datos.servlet.SubFamilias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClienteNuevo</servlet-name>
        <servlet-class>com.datos.servlet.ClienteNuevo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NuevaForma</servlet-name>
        <servlet-class>com.datos.servlet.NuevaForma</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>C_OP</servlet-name>
        <servlet-class>com.datos.servlet.C_OP</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Svl_tantos</servlet-name>
        <servlet-class>com.datos.servlet.Svl_tantos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Svl_PDF</servlet-name>
        <servlet-class>com.datos.servlet.Svl_PDF</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubFamilias</servlet-name>
        <url-pattern>/SubFamilias</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClienteNuevo</servlet-name>
        <url-pattern>/ClienteNuevo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NuevaForma</servlet-name>
        <url-pattern>/NuevaForma</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>C_OP</servlet-name>
        <url-pattern>/op</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Svl_tantos</servlet-name>
        <url-pattern>/Svl_tantos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Svl_PDF</servlet-name>
        <url-pattern>/Svl_PDF</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
